
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }

    .menu {
        background-color: black;
        color: aliceblue;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
    }

    

   

    .menu ul {
        list-style: none;
        display: flex;
        
    }

    .menu ul li {
        padding: 10px 30px;
        position: relative;
        
    }

    .menu ul li a {
        color: whitesmoke;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.1s;
    }

    .menu ul li a:hover {
        color: rgb(94, 87, 87);
    }

    .dropdown {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.849);
        color: whitesmoke;
        display: none;
       
        
    }
    
    .dropdown1 {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.849);
        color: whitesmoke;
        display: none;

    }

    .dropdown ul {
        display: block;
        margin: 10px;

    }

    .dropdown1 ul {
        display: block;
        margin: 10px;
    }

    .dropdown ul li {
        width: 100px;
        padding: 10px;
        /*border:1px solid white ;*/
        box-shadow: 0 0 2px white;
    }

    .dropdown1 ul li {
        width: 100px;
        padding: 10px;
        /*border:1px solid white ;*/
        box-shadow: 0 0 2px white;
    }

   


    .menu ul li:hover .dropdown{
            display: block;
    }

    .menu ul li:hover .dropdown1{
            display: block;
    }

    .fonte {
        height: calc(100vh - 80px);
        background-color: rgb(185, 183, 183);
    }